<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= author.name %> is perfect the way they are</h1>
    <h4>But they can still change for the better with this form!</h4>
    <form action="/authors/<%=author.id%>?_method=PUT" method="POST">
        name: <input type="text" name="name">
        <input type="submit" value="TRANSFORM">
    </form>
</body>
</html>